* {
    box-sizing: border-box;
}
html {
    font-family: "Bebas Neue", sans-serif;
}
body {
    background: #2a739b;
    background: linear-gradient(
        90deg,
        rgba(42, 115, 155, 1) 0%,
        rgba(87, 199, 133, 1) 50%,
        rgba(219, 237, 83, 1) 100%
    );
}
button,
span {
    cursor: pointer;
}
.container {
    display: flex;
    justify-content: center;
    margin: 120px 0;
}
.product-card {
    width: 450px;
    min-height: 600px;
    background-color: #eee;
    padding: 20px;
    border-radius: 20px;
    position: relative;
}
.cart {
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 2rem;
    color: #242222;
    cursor: pointer;
    transition: all ease 0.5s;
}
.cart:hover {
    transform: scale(1.2);
}
.img {
    text-align: center;
    margin-top: 50px;
}
.img img {
    filter: hue-rotate(0deg);
    transition: all ease 0.5s;
    cursor: pointer;
}
.img img:hover {
    transform: scale(1.2);
}
.detail {
    display: flex;
    flex-direction: column;
    padding: 33px 33px 15px;
    font-size: 1.2rem;
    gap: 10px;
}
.price,
.shoes-name {
    margin: 30px 30px -20px 30px;
    font-size: 2.5rem;
}
.shoes-name {
    font-weight: 600;
}
.color span {
    display: inline-block;
    width: 10px;
    height: 10px;
    padding: 10px;
    margin: 10px 10px 5px 0;
    border-radius: 50%;
    transition: all ease 0.2s;
}
.color span:hover {
    transform: scale(1.2);
}
.color .red {
    background-color: rgb(171, 2, 2);
}
.color .green {
    background-color: rgb(4, 106, 18);
}
.color .blue {
    background-color: rgb(17, 34, 116);
}
.color .purple {
    background-color: rgb(126, 1, 126);
}
.size span:nth-child(even) {
    padding: 10px 15px;
}
.size span {
    display: inline-block;
    margin: 10px 5px;
    padding: 10px 10px;
    background-color: #b5a1a1;
    border-radius: 20%;
    transition: all ease 0.2s;
}
.size span:hover {
    transform: scale(1.2);
}
.btn {
    display: flex;
    gap: 20px;
    justify-content: space-around;
}
.btn button {
    border: none;
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 10px 30px;
    border-radius: 10px;
    color: #fff;
    /* background-color: #8ebc70; */
    transition: all ease 0.5s;
    transform: scale(1);
}
.btn button:hover {
    transform: scale(1.2);
}
/* shoes color checked */
#red:checked ~ .img img {
    filter: hue-rotate(0deg) contrast(90%) saturate(80%);
}
#green:checked ~ .img img {
    filter: hue-rotate(140deg) contrast(90%) saturate(80%);
}
#blue:checked ~ .img img {
    filter: hue-rotate(255deg) contrast(90%) saturate(80%);
}
#purple:checked ~ .img img {
    filter: hue-rotate(295deg) contrast(90%) saturate(80%);
}
/* button checked */
#red:checked ~ .btn button {
    background: rgb(171, 2, 2);
}
#green:checked ~ .btn button {
    background: rgb(4, 106, 18);
}
#blue:checked ~ .btn button {
    background: rgb(17, 34, 116);
}
#purple:checked ~ .btn button {
    background: rgb(126, 1, 126);
}
